<div class="server-list">
    <div class="icon-wrapper">
        <div class="home-nav">
            <i class="fas fa-campground"></i>
        </div>
        
        <div class = 'add-server'>
            <i class="fas fa-plus"></i>
        </div>
    </div>
</div>