<div class="row hero">
    <div class="col-md-2">
        {{>nav}}
    </div>
    <div class="col-md-10">
        <div class="row home">
            <div class="message-container">
                <input class = "message-input" type="text" placeholder="Enter Your Message">
            </div>
        </div>
    </div>
</div>
