<div class="signups-wrapper">
    <h3>Create An Account</h3>
    <main class="information-wrapper">
        <form action="/home">
            <div class="signup">
                <label for="username">Username</label>
                <input class="signup-input" type="text" name="username" id="username" placeholder="Enter username..." required />
            </div>
            <div class="signup">
                <label for="room">Room</label>
                <select name ="room" id = "room" class = "select">
                    <option value="Gaming">Gaming</option>
                    <option value="Music">Music</option>
                    <option value="Sports">Sports</option>
                    <option value="Movies">Movies</option>
                    <option value="Politics">Politics</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="submit-wrapper">
                <button class="submit-button" type="submit">Join The Conversation</button>
            </div>
        </form>
    </main>
</div>