<div class="main">
    <div class="main-left">
        <div class="video-container">
            <div class="video-grid" id="video-grid">

            </div>
        </div>

        <div class="options">
            <div class="options-left">
                <div class="option-button" id = "stop-video">
                    <i class="fas fa-video"></i>
                </div>
                <div class="option-button" id = "mute-mic">
                    <i class="fas fa-microphone-slash"></i>
                </div>
                <div class="option-button" id = "screen-share">
                    <i class="fas fa-desktop"></i>
                </div>
            </div>
            <div class="options-right">
                <div class="option-button" id = "invite">
                    <i class="fas fa-user-plus"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="main-right">
        <div class="chat">
            <div class="messages" id = "display-message"> 

            </div>
        </div>
        <div class="message-container">
            <input type="text" id="chat-message" autocomplete="off" placeholder="Message...">
        </div>
    </div>
</div>