<div class="main">
    <div class="main-left">
        <div class="video-container">
            <div class="video-grid" id="video-grid">

            </div>
        </div>

        <div class="options">
            <div class="options-left">
                <div class="option-button" id="stop-video">
                    <i class="fas fa-video"></i>
                </div>
                <div class="option-button" id="mute">
                    <i class="fas fa-microphone"></i>
                </div>
                <div class="option-button" id = "screen-share">
                    <i class="fas fa-desktop"></i>
                </div>
            </div>
            <div class="options-right">
                <div class="options-button" id = "invite">

                </div>
            </div>
        </div>
    </div>

    <div class="main-right">
        <div class="chat">
            <div class="messages" id = "display-message"> 

            </div>
        </div>
        <div class="message-container">
            <input type="text" id="chat-message" autocomplete="off" placeholder="Message...">
        </div>
    </div>
</div>