*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  font-family: 'Poppins', sans-serif;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.hero
{
  display: flex;
  flex-direction: row;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.message-container {
  display: flex;
  width: 20%;
  margin: 2.5%;
}

.form-group.button-group {
  margin: 0 auto 0 50px;
}

/* ==========================================================================
                          CHAT BOX STYLING
   ========================================================================== */
.home
{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}
.message-container
{
    width: 100%;
}
.message-input
{
    outline: none;
    border: none;
    border-bottom: 1px solid #17141d;
    font-size: 2rem;
    background-color: #252525;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    padding-left: 50px;
}
/* ==========================================================================
                          SIDE NAV BAR STYLING
   ========================================================================== */

.col-md-2
{
  background-color: #252525;
  height: 100vh;

}
.col-md-10
{
  background-color: #171410;
  height: 100vh;

}










