*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root
{
  --primary-color: #171410;
  --secondary-color: #252525;
  --contrast-color: #686868;
}
body
{
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary-color);
}
/* ==========================================================================
    MAIN STYLES
   ========================================================================== */
.hero
{
  display: flex;
  flex-direction: row;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.message-container {
  display: flex;
  width: 20%;
  margin: 2.5%;
}

.form-group.button-group {
  margin: 0 auto 0 50px;
}

/* ==========================================================================
                          HOME PAGE / CHAT PAGE
   ========================================================================== */
.home
{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}
.message-container
{
    width: 100%;
}
.message-input
{
    outline: none;
    border: none;
    font-size: 2rem;
    background-color: var(--secondary-color);
    width: 100%;
    border-radius: 10px;
    height: 50px;
    padding-left: 50px;
}
/* ==========================================================================
                          SIDE NAV BAR STYLING
   ========================================================================== */

.col-md-2
{
  background-color: var(--secondary-color);
  height: 100vh;

}
.col-md-10
{
  background-color: var(--primary-color);
  height: 100vh;

}

/* ==========================================================================
                              SIGN UP PAGE
   ========================================================================== */
.signups-wrapper
{
  background-color: var(--contrast-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}





